<div class="login-background">
  <mat-card class="container">
    <div class="login-form-container">
      <form #loginForm="ngForm" (submit)="login(loginForm)">
          <!-- Email Field -->
          <div class="form-input-container">
            <mat-form-field>
              <input
                matInput
                type="text"
                name="email"
                ngModel
                required
                placeholder="email"
                #email="ngModel"
                class="input-field"
              >
              <mat-error *ngIf="email.invalid">Enter your email</mat-error>
            </mat-form-field>
          </div>
          <!-- Password Field -->
          <div class="form-input-container">
            <mat-form-field>
              <input
                matInput
                name="password"
                ngModel
                required
                placeholder="password"
                #password="ngModel"
                type="password"
                class="input-field"
              >
              <mat-error *ngIf="password.invalid">Enter your password</mat-error>
            </mat-form-field>
          </div>

          <!-- Submit Button -->
          <div class="form-button-container">
            <button mat-raised-button type="submit" class="form-submit-button">Login</button>
          </div>
          <div *ngIf="this.errorMessage !== undefined" class="error-message">
            {{this.errorMessage}}
          </div>
      </form>
      <div class="message-container">
        <p class="placeholder-text">Don't have an account?</p>
        <button mat-raised-button [routerLink]="'/api/authentication/register'" class="register-button">Register!</button>
      </div>
    </div>
  </mat-card>
</div>
