.login-background {
  height: 100%;
  width: 100%;
  background-color: #203a50;
  display: flex;
  align-content: center;
}

.login-form-card {
  height: 100%;
  width: calc(100% - 30px); 
  max-height: 400px;
  max-width: 350px;
  margin: auto;
  background-color: rgb(32, 32, 32);
}

.login-form-container {
  width: 200px;
  margin: auto;
  height: 400px;
}

.error-message {
  margin-top: 10px;
  color: rgb(255, 105, 105);
  width: 100%;
  font-family: 'poppins-medium';
}

.form-input-container {
  width: 100%;
  margin-top: 20px;
}

.input-field {
  color: white;
  font-family: 'poppins-medium';
}

.form-button-container {
  display: flex;
  justify-content: center;
}

.form-submit-button {
  width: 100%;
  margin-top: 60px;
  background-color: white;
  color: rgb(32, 32, 32);
  font-size: 18px;
  font-family: 'poppins-semibold';
}

.message-container { width: 200px; }
.placeholder-text { 
  font-family: 'poppins-medium'; 
  color: rgb(180, 180, 180); 
}

.register-button {
  font-size: 17px;
  width: 100%;
  color: white;
  font-family: 'poppins-semibold';
  text-align: center;
}

.register-button:hover { color: rgb(121, 212, 248); }