.login-background {
  height: 100%;
  width: 100%;
  background-image: url("../../../assets/images/NetworkImage.jpg");
}

.login-form-card {
  height: 400px;
  width: 400px;
  margin: auto;
  top: 35%;
  background-color: rgb(32, 32, 32);
}

.login-form-container {
  width: 200px;
  margin: auto;
  height: 400px;
}

.error-message {
  margin-top: 10px;
  color: red;
  width: 100%;
}

.form-input-container {
  width: 100%;
  margin-top: 30px;
}

.input-field {
  color: white;
}

.form-button-container {
  display: flex;
  justify-content: center;
}
.form-submit-button {
  width: 100%;
  margin-top: 75px;
  background-color: white;
  color: black;
}

