<div class="one-container">
  <div class="two-container">
    <div class="three-container">
      <form #chatForm="ngForm" (submit)="createChat(chatForm)">
        <div class="chat-title-input-container">
          <input
            type="text"
            matInput
            name="title"
            ngModel
            required
            #title="ngModel"
            placeholder="title"
            maxlength="40"
            class="chat-title-input"
          >
        </div>
        <!-- Mat select for categories -->
        <div class="chat-category-container">
            <mat-select placeholder="Select a Category" ngModel #category="ngModel" name="category">
              <mat-option *ngFor="let category of categories" [value]="category">
                {{category}}
              </mat-option>
            </mat-select>
        </div>
        <app-chat-tags style="order: 2;"></app-chat-tags>
        <div class="form-submit-container">
          <button mat-raised-button type="submit" class="form-submit-button">Create</button>
        </div>
      </form>
    </div>
  </div>
</div>