.one-container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        background-color: rgb(50, 64, 71);
}

.two-container {
        width: 400px;
        height: 600px;
        border: solid white;
        margin-top: 100px;
        border-width: 2px;
        border-radius: 3px;
        background-color: #6db6ee;
        display: table-cell;
        vertical-align: middle;
}

.three-container {
        width: calc(100% - 30px);
        height: calc(100% - 30px);
        margin: auto;
        display: flex;
        flex-direction: column;
}

/* Title Input */
.chat-title-input-container {
        order: 0;
        margin-top: 10px;
        width: 100%;
        border: solid white;
        border-width: 2px;
        height: 50px;
        border-radius: 5px;
        background-color: rgb(38, 49, 54);
}

.chat-title-input {
        caret-color: white;
        width: calc(100% - 30px);
        padding-left: 15px;
        line-height: 40px;
        margin-top: 5px;
        font-size: 17px;
        background-color: rgb(38, 49, 54);
        border: none;
        color: white;
}
/* background-color: rgb(38, 49, 54); */

/* Category select */
.category-select-container {
        order: 1;
        width: 100%;
        height: 40px; 
        border: solid white; 
        border-width: 2px;
        background-color: rgb(38, 49, 54);
        margin-top: 10px;
        border-radius: 5px;
}

.category-select {
        height: 40px;
        width: 100%;
        background-color: rgb(38, 49, 54);
        color: white;
}

.category {
        height: 10px;
        color: white;
        width: 50%;
}
/* Create-chat button */
.form-submit-container {
        order: 3;
        width: 100%;
        display: flex;
        justify-content: center;
        height: 40px;
}

.form-submit-button {
        width: 80px;
        height: 40px;
        background-color: rgb(38, 49, 54);
        color: white;
        font-size: 16px;
}

