<div class="subscriber-container" *ngIf="this.subId !== this.adminId">
        <div class="subscriber-icon-container">
                <app-image-fab *ngIf="this.image != '$$$Default$$$'" [imageUrl]="this.image" [showStatus]="true" [online]="this.online"></app-image-fab>
                <app-user-icon *ngIf="this.image === '$$$Default$$$'" [showStatus]="true" [online]="this.online"></app-user-icon>
        </div>
        <div class="subscriber-username-container">
                <div class="subscriber-username">
                        {{this.username}}
                </div>
        </div>
</div>