.container {
        width: 100%;
        height: 100%;
        background-color: rgb(38, 49, 54);
}

.user-container {
        padding-top: 10px;
        width: 60%;
        margin: auto;
        height: 40%;
        /* background-color: orange; */
}

.user-icon-container {
        margin: auto;
        width: 250px;
        height: 250px;
}

.user-username-container {
        width: 100%;
        margin: auto;
        height: 60px;
        font-weight: 400;
        text-align: center;
        font-size: 30px;
        margin-top: -10px;
        color: hotpink;
        text-align: center;
}

.user-options-container {
        width: 60%;
        height: calc(60% - 120px);
        margin: auto;
        display: flex;
        overflow-y: scroll;
        flex-direction: column;
        /* background-color: green; */
}

.user-options-header {
        border-bottom: solid white;
        border-width: 2px;
        width: 60%;
        margin: auto;
        margin-bottom: 20px;
}

.user-option-container {
        background-color: rgb(50, 62, 68);
        padding: 10px;
        border-radius: 5px;

}

.user-option-header {
        font-size: 17px;
        font-weight: bold;
        color: #7abffc;
}

.user-option {
        margin-top: 10px;
        margin-left: 20px;
}

.image-input {
        font-size: 15px;
}

.image-upload-button {
        font-size: 15px;
}

.margin-top {
        margin-top: 30px;
}