<div class="container">
        <div class="user-container">
                <div class="user-icon-container">
                        <app-user-icon></app-user-icon>
                </div>
                <div class="user-username-container">
                        <div class="user-username">
                                {{this.user.username}}
                        </div>
                </div>
                <div class="user-options-container">
                        <h1>User options</h1>
                        <h1>Upload image</h1>
                        <input  type="file"
                                accept="image/*"
                                (change)="onImageSelected($event)"
                        >
                        <button *ngIf="this.selectedImage != null && this.selectedImage != undefined" (click)="uploadImage()">
                                Upload image
                        </button>
                </div>
        </div>
</div>