<div class="container">
        <div class="user-container">
                <div class="user-icon-container">
                        <app-image-fab 
                                *ngIf="this.user.image != '$$$Default$$$'" 
                                [imageUrl]="this.user.image" 
                        ></app-image-fab>
                        <app-user-icon 
                                *ngIf="this.user.image === '$$$Default$$$'"
                        ></app-user-icon>
                </div>
                <div class="user-username-container">
                        <div class="user-username">
                                {{this.user.username}}
                        </div>
                </div>
        </div>
        <h2 class="user-options-header">
                Options
        </h2>
        <div class="user-options-container">
                <div class="user-option-container">
                        <div class="user-option-header">
                                Set Your Icon
                        </div>
                        <div class="user-option">
                                <div class="edit-image-button 
                                        transform-color 
                                        no-select"
                                        (click)="openIconDialog()"
                                >Edit</div>
                        </div>
                </div>
                <div class="user-option-container margin-top">
                        <div class="user-option-header">
                                Send a Friend Request
                        </div>
                        <div class="user-option">
                                <div class="friend-request-form-container">
                                        <form #friendReqForm="ngForm" (submit)="sendFriendReq(friendReqForm)" class="friend-request-form">
                                                <div class="friend-request-input-container">
                                                        <mat-form-field>
                                                                <input
                                                                        matInput
                                                                        type="text"
                                                                        name="email"
                                                                        ngModel
                                                                        placeholder="email"
                                                                        #email="ngModel"
                                                                        class="friend-request-email-field"
                                                                        autocomplete="off"
                                                                >
                                                        </mat-form-field>
                                                        <div 
                                                                *ngIf="friendReqForm.value.email !== ''"
                                                                class="friend-request-button
                                                                transform-color
                                                                no-select" 
                                                                (click)="sendFriendReq(friendReqForm)"
                                                        >Send</div>
                                                </div>
                                        </form>
                                </div>
                                
                        </div>
                </div>
                <div class="user-option-container margin-top">
                        <div class="user-option-header">
                                Create a New Chat
                        </div>
                        <div class="user-option">
                                <div 
                                        (click)="openChatCreateDialog()"
                                        class="create-chat-button
                                        transform-color
                                        no-select" 
                                >Create</div>
                        </div>
                </div>
                <div class="user-option-container margin-top">
                        <div class="user-option-header">
                                Log Out
                        </div>
                        <div class="user-option">
                                <div 
                                        class="log-out-button 
                                        transform-color 
                                        no-select"
                                        (click)="logOut()"
                                >Leave</div>
                        </div>
                </div>
        </div>
</div>