<div class="container">
        <div class="user-container">
                <div class="user-icon-container">
                        <app-image-fab *ngIf="this.user.image != '$$$Default$$$'" [imageUrl]="this.user.image"></app-image-fab>
                        <app-user-icon *ngIf="this.user.image === '$$$Default$$$'"></app-user-icon>
                </div>
                <div class="user-username-container">
                        <div class="user-username">
                                {{this.user.username}}
                        </div>
                </div>
                <div class="user-options-container">
                        <h1 class="user-options-header">
                                Options
                        </h1>
                        <div class="user-option-container">
                                <div class="user-option-header">
                                        Set Your Icon
                                </div>
                                <div class="user-option">
                                        <input type="file"
                                                accept="image/*"
                                                (change)="onImageSelected($event)"
                                                class="image-input"
                                        >
                                        <div 
                                                *ngIf="this.selectedImage != null && this.selectedImage != undefined" 
                                                (click)="uploadImage()" 
                                                class="image-upload-button"
                                        >
                                                Set Icon
                                        </div>
                                </div>
                        </div>
                        <div class="user-option-container margin-top">
                                <div class="user-option-header">
                                        Send Friend Request
                                </div>
                                <div class="user-option">
                                        <div 
                                                class="friend-request-button"
                                        >Send
                                        </div>
                                </div>
                        </div>
                        <div class="user-option-container margin-top">
                                <div class="user-option-header">
                                        Create A New Chat
                                </div>
                                <div class="user-option">
                                        <div 
                                                class="create-chat-button"
                                        >Create
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</div>