/* Contains the contents of every page */
.nav-container {
  width: 100%;
  height: 100%;
  padding: 0px;
  overflow: hidden;
}

.navbar-main {
  /* background-color: #203a50; */
  background-color: #134169;
  color: white;
  height: 60px;
  top: 0px;
}

.sandwich-icon {
  width: 55px;
  height: 55px;
  padding: 5px;
  font-size: 30px;
}

.button-login {
  font-family: 'poppins-semibold';
  margin-right: 10px;
  color: white;
  border: 2px solid white;
  background-color: transparent;
  font-size: 18px;
  margin-right: 10px;
  opacity: 1;
}

.button-register {
  font-family: 'poppins-semibold';
  color: white;
  background-color: rgb(32, 32, 32);
  font-size: 18px;
  border: 2px solid rgb(32, 32, 32);
  opacity: 1;
}

.button-register:hover {
  opacity: 0.6;
}

.button-login:hover {
  opacity: 0.6;
}

.home-link {
  font-family: 'momcake';
  font-size: 32px;
  font-weight: bold;
  background-color: #3a5266;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: rgb(173, 243, 250);
  border-bottom: solid white;
  border-top: solid white;
  border-radius: 3px;
}

.home-link:hover { cursor: pointer; }


.flexExpand { flex: 1 1 auto; }

.account-button {
  border: solid transparent;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border-width: 3px;
  z-index: 2;
}

.account-button:hover {
  border: solid rgb(173, 243, 250);
  cursor: pointer; 
}

.spacer {
  padding-left: 20px;
  padding-right: 20px;
}

.home-container {
  background-color: rgb(63, 81, 90);
  /* background-color: #0e1822; */
}

.transform-font-size {
  -webkit-transition: font-size 0.4s;
  -moz-transition: font-size 0.4s;
  -o-transition: font-size 0.4s;
  transition: font-size 0.4s;  
}

.transform-color {
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s;  
}

.transform-border-bottom {
  -webkit-transition: border-bottom 0.2s;
  -moz-transition: border-bottom 0.2s;
  -o-transition: border-bottom 0.2s;
  transition: border-bottom 0.2s;
}

.transform-border-top {
  -webkit-transition: border-top 0.2s;
  -moz-transition: border-top 0.2s;
  -o-transition: border-top 0.2s;
  transition: border-top 0.2s;
}

.transform-opacity {
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.transform-border {
  -webkit-transition: border 0.2s;
  -moz-transition: border 0.2s;
  -o-transition: border 0.2s;
  transition: border 0.2s;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
}