<div class="nav-container">
  <mat-toolbar class="navbar-main">
    <div class="account-button transform-border" *ngIf="this.user !== undefined && this.user !== null">
      <app-user-icon 
        [routerLink]="'/api/user'"  
        *ngIf="this.user.image === '$$$Default$$$'" 
        class="change-on-hover" 
        [showStatus]="true" 
        [online]="this.user.online"
        style="outline: 0 !important;"
      ></app-user-icon>
      <app-image-fab 
        [routerLink]="'/api/user'"  
        *ngIf="this.user.image != '$$$Default$$$'" 
        [imageUrl]="this.user.image" 
        [showStatus]="true" 
        [online]="this.user.online" 
        class="change-on-hover"
        style="outline: 0 !important;"
      ></app-image-fab>
    </div>
    <span *ngIf="this.isAuthenticated()" class="flexExpand"></span>
    <div [routerLink]="''" class="home-link">RUMBLE</div> 
    <span class="flexExpand" *ngIf="!isAuthenticated()"></span>
    <button mat-raised-button class="button-login transform-opacity" [routerLink]="'/api/authentication/login'" *ngIf="!isAuthenticated()">Login</button>
    <button mat-raised-button class="button-register transform-opacity" [routerLink]="'/api/authentication/register'" *ngIf="!isAuthenticated()">Register</button>
  </mat-toolbar>
  <ng-content></ng-content>
</div>
