.navbar-main {
  background-color: #2a4d69;
  color: white;
  height: 80px;
}

.sandwich-icon {
  width: 60px;
  height: 60px;
  padding: 10px;
  font-size: 30px;
}

.button-login {
  margin-right: 10px;
  color: #2a4d69;
  background-color: white;
  font-size: 18px;
}

.button-register {
  color: #2a4d69;
  background-color: white;
  font-size: 18px;
}

.flexExpand {
  flex: 1 1 auto; 
}

.spacer {
  padding-left: 20px;
  padding-right: 20px;
}

.home-container {
  background-color: pink;
}
