<div class="nav-container">
  <mat-toolbar class="navbar-main">
    <!-- Shows on small displays (start) -->
    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button (click)="sidenav.toggle()" class="sandwich-icon">
        <mat-icon [inline]="true">menu</mat-icon>
      </button>
    </div>
    <!-- Shows on small displays (end) -->
    <span class="spacer"></span>

    <!-- Div there so the app-user-icon is the right size -->
    <div style="width: 80px; height: 80px;">
      <app-user-icon *ngIf="this.user != undefined"></app-user-icon>
    </div>
    <span class="flexExpand"></span>
    <span [routerLink]="''" class="home-link">DDM</span> 
    <!-- Shows on large displays (start) -->
    <span fxShow="true" fxHide.lt-md="true" class="flexExpand"></span>
    <div fxShow="true" fxHide.lt-md="true">
      <button mat-raised-button class="button-login" [routerLink]="'/api/authentication/login'" style="margin-right: 10px;" *ngIf="!isAuthenticated()">Login</button>
      <button mat-raised-button class="button-register" [routerLink]="'/api/authentication/register'" *ngIf="!isAuthenticated()">Register</button>
      <button mat-raised-button [routerLink]="'/api/chat/chat-create'" *ngIf="isAuthenticated()">Create a chat</button>
    </div>
    <!-- Shows on large displays (end) -->
  </mat-toolbar>

  <!-- Shows on small displays (start) -->
  <mat-sidenav-container fxFlexFill class="home-container">
    <mat-sidenav #sidenav fxLayout="column">
      <div fxLayout="column">
        <button mat-raised-button [routerLink]="'/api/authentication/login'" class="button-login" *ngIf="!isAuthenticated()">Login</button>
        <button mat-raised-button [routerLink]="'/api/authentication/register'" class="button-register" *ngIf="!isAuthenticated()">Register</button>
        <button mat-raised-button [routerLink]="'/api/chat/chat-create'" *ngIf="isAuthenticated()">Create a chat</button>
        <button (click)="sidenav.toggle()" mat-raised-button>Close</button>
      </div>
    </mat-sidenav>
    <ng-content></ng-content>
  </mat-sidenav-container>
  <!-- Shows on small displays (end) -->
</div>
