<div class="container">
        <div class="dialog-header">Upload profile image</div>
        <div class="file-input-container">
                <input type="file"
                        accept="image/*"
                        (change)="onImageSelected($event)"
                >
        </div>
        <div mat-dialog-actions>
                <button 
                        mat-button 
                        *ngIf="this.selectedImage !== null && this.selectedImage !== undefined" 
                        (click)="uploadImage()"
                        class="upload-button"
                >Upload</button>
                <button 
                        mat-button 
                        (click)="onExit()" 
                        class="dialog-button"
                >Exit</button>
                
        </div>
</div>