.container {
        height: 30px;
        border-radius: 5px;
        background-color: rgb(38, 49, 54);
        -webkit-transition: height 0.2s;
        -moz-transition: height 0.2s;
        -o-transition: height 0.2s;
        transition: height 0.2s;
}

.text-container {
        float: left;
        color: #7abffc;
        line-height: 30px;
        margin-left: 5px;
        -webkit-transition: color 0.2s;
        -moz-transition: color 0.2s;
        -o-transition: color 0.2s;
        transition: color 0.2s;
}

.button-container {
        float: right;
        width: 20px;
        color: rgb(177, 177, 177);
        -webkit-transition: color 0.2s;
        -moz-transition: color 0.2s;
        -o-transition: color 0.2s;
        transition: color 0.2s;
        font-size: 16px;
        line-height: 30px;
        margin-left: 10px;
}

.button-container:hover {
        color: rgb(255, 105, 105);
}

/* .container:hover {
        height: 35px;

}

.container:hover .text-container {
        color: #7abffc;
} */

/* Prevents users from selecting text */
.no-select {
        -webkit-touch-callout: none;
        -webkit-user-select: none; 
        -khtml-user-select: none; 
        -moz-user-select: none; 
        -ms-user-select: none; 
        user-select: none;
}