<div class="container">
        <app-header [headerText]="'Friends'" [imageUrl]="'../../../assets/images/FriendsThree.png'"></app-header>
        <div *ngIf="this.user.friends.length > 0" class="friends-list-container">
                <div class="friend-container transform-opacity" *ngFor="let friend of this.user.friends">
                        <div class="friend-icon-container">
                                <app-user-icon></app-user-icon>
                        </div>
                        <div class="friend-username-container">
                                <span class="friend-username">
                                          {{friend.username}}
                                </span>
                        </div>
                </div>
        </div>
        <div class="friend-request-container">
                <div class="friend-request">
                        <button #friendRequestButton class="friend-request-button transform-opacity" (click)="onFriendReqBtnClick()">
                                {{this.friendReqBtnText}}
                        </button>
                </div>
                <!-- Only display friend-request-form if friend-request-button is selected -->
                <div class="friend-request-form-container" *ngIf="friendReqBtnSelected()">
                        <!-- user email -->
                        <!-- Change to mat-expansion-panel -->
                        <form #friendReqForm="ngForm" (submit)="sendFriendReq(friendReqForm)" class="friend-request-form">
                                <div class="friend-request-input-container">
                                        <mat-form-field>
                                                <input
                                                        matInput
                                                        type="text"
                                                        name="email"
                                                        ngModel
                                                        placeholder="user email"
                                                        #email="ngModel"
                                                        class="friend-request-email-field"
                                                >
                                        </mat-form-field>
                                        <button mat-raised-button type="submit" class="form-submit-button">
                                                Send Request
                                        </button>
                                </div>
                        </form>
                </div>
        </div>
        <!-- <div *ngIf="this.user.friendReqs.length > 0" class="header-container request-header-container">
                <div class="header-icon-container">
                        <app-user-icon></app-user-icon>
                </div>
                <div class="header-text-container">
                        <div class="header-text request-header-text">
                                Requests
                        </div>
                </div>
        </div> -->
        <app-header *ngIf="this.user.friendReqs.length > 0" [headerText]="'Friend Requests'" [imageUrl]="'../../../assets/images/DefaultIconImage.png'"></app-header>
        <div class="friend-requests-list-container">
                <div class="friend-request transform-opacity" *ngFor="let request of this.user.friendReqs">
                        <span>{{request.username}}</span>
                        <button mat-raised-button (click)="acceptRequest(request._id, request.username)">Accept</button>
                        <button mat-raised-button (click)="declineRequest(request._id, request.username)">Decline</button>
                </div>
        </div>
</div>