<div class="container">
        <div class="header-container">
                <span class="header">
                        Friends
                </span>
        </div>
        <div class="friend-request-container">
                <div class="friend-request">
                        <div class="friend-request-text">
                                Send Friend Request
                        </div>
                        <button #friendRequestButton class="friend-request-button" (click)="onFriendReqBtnClick()">
                                {{this.friendReqBtnText}}
                        </button>
                </div>
        </div>
        <!-- Only display friend-request-form if friend-request-button is selected -->
        <div class="friend-request-form-container" *ngIf="friendReqBtnSelected()">
                <!-- user email -->
                <!-- Change to mat-expansion-panel -->
                <form #friendReqForm="ngForm" (submit)="sendFriendReq(friendReqForm)" class="friend-request-form">
                        <div class="friend-request-input-container">
                                <mat-form-field>
                                        <input
                                                matInput
                                                type="text"
                                                name="email"
                                                ngModel
                                                placeholder="user email"
                                                #email="ngModel"
                                                class="friend-request-email-field"
                                        >
                                </mat-form-field>
                                <button mat-raised-button type="submit" class="form-submit-button">
                                        Send Request
                                </button>
                        </div>
                </form>
        </div>
        <div class="friends-list">
                <span *ngFor="let friend of this.user.friends">
                        {{friend.username}}
                </span>
        </div>

        <div class="friend-requests-list-container">
                <div class="friend-request" *ngFor="let request of this.user.friendReqs">
                        <span>{{request.username}}</span>
                        <button mat-raised-button (click)="acceptRequest(request._id, request.username)">Accept</button>
                        <button mat-raised-button (click)="declineRequest(request._id, request.username)">Decline</button>
                </div>
        </div>
</div>