.left {
        top: 80px;
        left: 0%;
        height: 100%;
        background-color: rgb(50, 64, 71);
        width: 20%;
        position: fixed;
}

.right {
        top: 80px;
        right: 0%;
        height: 100%;
        width: 20%;
        position: fixed;
}

.middle {
        height: 100%; 
        background-color: rgb(50, 64, 71);
        width: calc(60% - 20px);
        left: calc(20% + 10px);
        position: fixed;
}