/* Placeholder text */
.column {
        float: left;
}

.left {
        height: 100%;
        background-color: red;
        width: 20%;
}

.right {
        height: 100%;
        background-color: orange;
        width: 20%;
}

.middle {
        height: 100%;
        display: inline-block;
        background-color: black;
        width: 60%;
        overflow: auto;
}