<app-navbar style="margin: auto; max-width: 2000px;">
        <div fxShow="true" fxHide.lt-md="true" class="container">
                <div class="left">
                        <app-related-chats></app-related-chats>
                </div>
                <div class="middle">
                        <app-message-view></app-message-view>
                </div>
                <div class="right">
                        <app-subscribers-view></app-subscribers-view>
                </div>
        </div>
        <div fxShow="true" fxHide.gt-sm="true" class="container-small">
                <div class="header-container float-left no-select transform-color" [@expansionTitle]="!leftExpanded ? 'visible' : 'invisible'" (click)="toggleLeft()">
                        ◀
                </div>
                <div class="left-small float-left" [@expansionPanel]="leftExpanded ? 'open' : 'closed'">
                        <app-related-chats></app-related-chats>
                </div>
        
                <div class="header-container float-left transform-color no-select" [@expansionTitle]="(leftExpanded || rightExpanded) ? 'visible' : 'invisible'" (click)="toggleMiddle()">
                        ◈
                </div>
                <div class="middle-small float-left" [@expansionPanel]="(!rightExpanded && !leftExpanded)? 'open' : 'closed'">
                        <app-message-view></app-message-view>
                </div>
        
        
                <div class="header-container float-right no-select transform-color" [@expansionTitle]="!rightExpanded ? 'visible' : 'invisible'" (click)="toggleRight()">
                        ▶
                </div>
                <div class="right-small float-right" [@expansionPanel]="rightExpanded ? 'open' : 'closed'">
                        <app-subscribers-view></app-subscribers-view>
                </div>
        </div>
        
</app-navbar>
