.left {
        height: 100%;
        background-color: rgb(50, 64, 71);
        width: 25%;
        float: left;
}

.right {
        height: 100%;
        width: 20%;
        float: left;
}

.middle {
        float: left;
        height: 100%; 
        margin-left: 10px;
        margin-right: 10px;
        /* background-color: rgb(50, 64, 71); */
        background: linear-gradient(to right, rgb(38, 49, 54) 0px, rgb(38, 49, 54) 50px, rgb(50, 64, 71) 50px, rgb(50, 64, 71) 100%);
        width: calc(55% - 20px);
}