<div class="main-container">
        <div class="tags-container">
                <div class="tag-container" *ngFor="let tag of newChat.tags">
                        <app-tag [tagText]="tag"></app-tag>
                </div>
                <button class="add-tag-button no-select" (click)="addTag(tagForm)">+</button>
                <form #tagForm="ngForm" (submit)="addTag(tagForm)">
                        <div class="add-tag-input-container tag-container">
                                <input class="add-tag-input" 
                                        type="text"
                                        matInput
                                        name="tag"
                                        ngModel
                                        #tag="ngModel"
                                        placeholder="tag"
                                        maxlength="25"
                                >
                        </div>
                </form> 
                
        </div>
</div>