<app-navbar>
    <div class="left">
        <app-header 
            [headerText]="'Search Chats'" 
            [imageUrl]="'../../../assets/images/SearchThree.png'"
        ></app-header>
    </div>
    <div class="middle">
        <!-- <h4>Slide show of subscribed chats or random chats</h4> -->
        <app-chat-display></app-chat-display>
    </div>
    <div class="right">
        <app-header 
            [headerText]="'Popular Chats'" 
            [imageUrl]="'../../../assets/images/PopularTwo.png'"
        ></app-header>
        <app-header 
            [headerText]="'New Chats'" 
            [imageUrl]="'../../../assets/images/NewChatOne.png'"
        ></app-header>
        
        <app-header 
            [headerText]="'Recommended Chats'" 
            [imageUrl]="'../../../assets/images/RecommendedThree.jpg'"
        ></app-header>
    </div>
</app-navbar>


