<app-navbar>
        <div fxShow="true" fxHide.lt-md="true" class="container">
                <div class="left">
                        <app-chat-search></app-chat-search>
                </div>
                <div class="middle">
                        <app-chat-display></app-chat-display>
                </div>
                <div class="right">
                        <app-chat-lists></app-chat-lists>
                </div>
        </div>
        <div fxShow="true" fxHide.gt-sm="true" class="container-small">
                <div class="header-container float-left no-select transform-color" [@expansionTitle]="!leftExpanded ? 'visible' : 'invisible'" (click)="toggleLeft()">
                        ◀
                </div>
                <div class="left-small float-left" [@expansionPanel]="leftExpanded ? 'open' : 'closed'">
                        <app-chat-search></app-chat-search>
                </div>

                <div class="header-container float-left transform-color no-select" [@expansionTitle]="(leftExpanded || rightExpanded) ? 'visible' : 'invisible'" (click)="toggleMiddle()">
                        ◈
                </div>
                <div class="middle-small float-left" [@expansionPanel]="(!rightExpanded && !leftExpanded)? 'open' : 'closed'">
                        <app-chat-display></app-chat-display>
                </div>


                <div class="header-container float-right no-select transform-color" [@expansionTitle]="!rightExpanded ? 'visible' : 'invisible'" (click)="toggleRight()">
                        ▶
                </div>
                <div class="right-small float-right" [@expansionPanel]="rightExpanded ? 'open' : 'closed'">
                        <app-chat-lists></app-chat-lists>
                </div>
        </div>
</app-navbar>


