<app-navbar>
    <div class="left">
        <app-header 
            [headerText]="'Search Chats'" 
            [imageUrl]="'../../../assets/images/Search2.png'"
        ></app-header>
    </div>
    <div class="middle">
        <!-- <h4>Slide show of subscribed chats or random chats</h4> -->
        <!-- <app-chat-display></app-chat-display> -->
        <div class="temp">

        </div>
    </div>
    <div class="right">
        <div class="chat-list-container">
                <app-popular-chats></app-popular-chats>
        </div>
        <div class="chat-list-container">
                <app-recent-chats></app-recent-chats>
        </div>
        <div class="chat-list-container">
                <app-recommended-chats></app-recommended-chats>
        </div>
    </div>
</app-navbar>


