<div class="container">
        <div class="icon-container">
                <app-user-icon [showStatus]="false"></app-user-icon>
        </div>
        <div class="title-container">
                <div class="title" *ngIf="this.chat !== undefined">
                        {{this.chat.title}}
                </div>
                <div class="title" *ngIf="this.chat === undefined">
                        Loading...
                </div>
                <div class="tags-container" *ngIf="this.chat !== undefined && this.chat !== null">
                        <div class="tag-container" *ngFor="let tag of this.chat.tags">
                                {{tag}}
                        </div>
                </div>
        </div>
        
        <span class="flex-expand"></span>
        <div class="chat-subscribe-container">
                <app-chat-subscribe></app-chat-subscribe>
        </div>
</div>
