<div class="container">
        <div class="icon-container">
                <app-image-fab 
                        *ngIf="(this.chat !== undefined && this.chat !== null) && this.chat.image !== '$$$Default$$$'" 
                        [imageUrl]="this.chat.image" 
                        [showStatus]="false"
                ></app-image-fab>
                <app-chat-icon 
                        *ngIf="this.chat === undefined || this.chat === null ||this.chat.image === '$$$Default$$$'" 
                ></app-chat-icon>
        </div>
        <div class="title-container">
                <div class="title"  *ngIf="this.chat !== undefined && this.chat !== null">
                        {{this.chat.title}}
                </div>
                <div class="title" *ngIf="this.chat === undefined || this.chat === null">
                        Loading...
                </div>
                <div class="tags-container" *ngIf="this.chat !== undefined && this.chat !== null">
                        <div class="tag-container" *ngFor="let tag of this.chat.tags">
                                {{tag}}
                        </div>
                </div>
        </div>
        <span class="flex-expand"></span>
        <div class="chat-subscribe-container" *ngIf="this.onChatPage">
                <app-chat-subscribe></app-chat-subscribe>
        </div>
</div>
