.container {
        display: flex;
        /* background-color: #6db6ee; */
        background-color: rgb(32, 32, 32);
        width: 100%;
        border-radius: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
}

.icon-container {
        float: left;
        width: 45px;
        height: 45px;
        min-width: 45px;
        min-height: 45px;
}       

.title-container {
        width: calc(100% - 130px);
        height: 45px;
        float: left;
        padding-right: 10px;
}

.title {
        height: 20px;
        font-weight: bold;
        font-size: 17px;
        color: white;
}

.chat-subscribe-container {
        margin-right: 5px;
}
.flex-expand {
        flex: 1 1 auto; 
}

/* Tags container */
.tags-container {
        overflow-x: scroll;
        overflow-y: hidden;
        height: 25px;
        display: flex;
        flex-shrink: 0;
}

/* Makes horizontal scroll bar invisible */
.tags-container::-webkit-scrollbar {
        height: 0px;
}

.tag-container {
        line-height: 25px;
        height: 25px;
        background-color: rgb(38, 49, 54);
        border-radius: 3px;
        color: #7abffc;
        padding-left: 3px;
        padding-right: 3px;
        margin-right: 3px;
}

.transform-color {
        -webkit-transition: color 0.2s;
        -moz-transition: color 0.2s;
        -o-transition: color 0.2s;
        transition: color 0.2s;  
}