.container {
        position: fixed;
        top: 80px;
        display: inline-flex;
        background-color: #6db6ee;
        width: calc(60% - 20px);
}

.icon-container {
        float: left;
        width: 45px;
        height: 45px;
}       

.title-container {
        display: table;
        height: 45px;
        float: left;
        padding-right: 10px;
}

.title {
        display: table-cell;
        font-family: "Roboto";
        font-size: 20px;
        vertical-align: middle;
        font-weight: bold;
        color: black;
}

.flexExpand {
        flex: 1 1 auto; 
}
