<div class="container">
        <div class="icon-container">
                <app-user-icon></app-user-icon>
        </div>
        <div class="title-container">
                <div class="title">
                        {{this.chat.title}}
                </div>
                <div class="tags-container">
                        <div class="tag-container" *ngFor="let tag of this.chat.tags">
                                {{tag}}
                        </div>
                </div>
        </div>
        
        <span class="flex-expand"></span>
        <div class="chat-subscribe-container">
                <app-chat-subscribe></app-chat-subscribe>
        </div>
</div>
