.container {
        display: flex;
        /* background-color: #6db6ee; */
        background-color: rgb(32, 32, 32);
        width: 100%;
        border-radius: 5px;
}

.icon-container {
        float: left;
        width: 45px;
        height: 45px;
}       

.title-container {
        width: calc(100% - 200px);
        height: 45px;
        float: left;
        padding-right: 10px;
}

.title {
        height: 20px;
        font-weight: bold;
        font-size: 17px;
        color: white;
}

.chat-subscribe-container {
        display: table;
        margin-right: 5px;
}

.chat-subscribe {
        display: table-cell;
        vertical-align: middle;
}
.flex-expand {
        flex: 1 1 auto; 
}
