.container {
        position: fixed;
        height: 105px;
        width: 58%;
        bottom: 0px;
        display: flex;
        justify-content: center; 
}

.message-form {
        width: 90%;
}

