<div *ngIf="isAuthenticated()"  class="container-one">
  <div class="container-two">
      <form #messageForm="ngForm" (submit)="postMessage(messageForm)" class="message-form">
        <!-- Message Field -->
        <div class="message-field-container">
          <input
            matInput
            type="text"
            name="message"
            ngModel
            placeholder="message"
            #message="ngModel"
            class="message-field"
            contenteditable='true'
          >
          <!-- ?mat-form-field? -->
        </div>
        <div class="form-submit-container">
            <button mat-raised-button type="submit" class="form-submit">
              Send
            </button>
        </div>
      </form>
  </div>
</div>
<div *ngIf="!isAuthenticated()" class="placeholder">
  <p [routerLink]="'/api/authentication/login'" class="placeholder-text login">login</p>
  <p class="placeholder-text">or</p>
  <p [routerLink]="'/api/authentication/register'" class="placeholder-text register">register</p>
  <p class="placeholder-text">to send messages</p>

</div>