.container {
        position: fixed;
        width: calc(60% - 20px);
        border-left: 65px solid rgb(38, 49, 54);
        bottom: 0px;
        display: flex;
        justify-content: center; 
}

.message-form {
        background-color: orange;
}

