.container {
        height: 30px;
        border-radius: 5px;
        background-color: rgb(38, 49, 54);
        -webkit-transition: border 0.2s;
        -moz-transition: border 0.2s;
        -o-transition: border 0.2s;
        transition: border 0.2s;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;

}

.container:hover {
        border-top: 1px solid white;
        border-bottom: 1px solid white;
} 
.text-container {
        width: calc(100% - 35px);
        float: left;
        color: #7abffc;
        line-height: 30px;
        margin-left: 5px;
        text-align: center;
}

.button-container {
        float: right;
        width: 30px;
        border-radius: 15px;
        color: rgb(177, 177, 177);
        -webkit-transition: color 0.2s;
        -moz-transition: color 0.2s;
        -o-transition: color 0.2s;
        transition: color 0.2s;
        -webkit-transition: background-color 0.2s;
        -moz-transition: background-color 0.2s;
        -o-transition: background-color 0.2s;
        transition: background-color 0.2s;
        font-size: 16px;
        line-height: 30px;
        text-align: center;
}

.button-container:hover {
        background-color: rgb(59, 65, 68);
        color: rgb(255, 105, 105);
}



/* Prevents users from selecting text */
.no-select {
        -webkit-touch-callout: none;
        -webkit-user-select: none; 
        -khtml-user-select: none; 
        -moz-user-select: none; 
        -ms-user-select: none; 
        user-select: none;
}