.container {
  display: flex;
  flex-grow: 2;
  flex-direction: row-reverse;
  background-color: #37474F;
  /* background-color: rgb(74, 84, 88); */
  width: 100%;
}

.message-container {
  order: 1;
  width: calc(100% - 70px);
}

.message-body-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.user-container {
  order: 0;
  min-width: 70px;
  max-width: 70px;
}

.user-icon-container {
  width: 50px;
  height: 50px;
  margin: auto;
}

.username-container {
  margin-top: -20px;
  width: 70px;
  height: 30px;
  text-align: center;
}

.username {
  font-family: Arial, sans-serif;
  color: #63ace5;
}

.message-text {
  white-space: pre-line;
  text-align: right;
  overflow-wrap: break-word;
  font-size: 15px;
  color: whitesmoke;
  font-family: Arial, sans-serif;
}


