.container {
  float: right;
  background-color: #616161;
  border-radius: 20px;
}

.message-container {
  height: 100px;
  float: right;
}

.message-body-container {
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 20px;
}

.user-container {
  float: right;
  height: 100px;
  width: 70px;
}

.user-icon-container {
  width: 70px;
  height: 70px;
}

.username-container {
  margin-top: -20px;
  width: 70px;
  height: 30px;
  text-align: center;
}

.username {
  font-family: Arial, sans-serif;
}


.message-text {
  font-size: 15px;
  background-color: #1e4588;
  border-width: 3px;
  border-color: black;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 10px;
  font-family: Arial, sans-serif;
}

.flexExpand {
  flex: 1 1 auto; 
}

hr {
  background: none;
  border: 0;
  clear: both;
  display: block;
  float: none;
  font-size: 0;
  padding: 0;
  overflow: hidden;
  visibility: hidden;
}
