<div class="container">
  <div class="message-container">
    <!-- Text -->
    <div class="message-body-container">
        <span class="message-text"><ng-content></ng-content></span>
    </div>

    <!-- Timestamp -->
  </div>
  <div class="user-container">
      <!-- User icon -->
      <div class="user-icon-container">
        <app-user-icon></app-user-icon>
      </div>
      <!-- Username -->
      <div class="username-container">
          <p class="username">{{this.senderUsername}}</p>
      </div>
    </div>
</div>
