.main-container {
        width: calc(100% - 30px);
        margin-left: 15px;
        margin-top: 15px;
        height: calc(100% - 110px);
        border-radius: 5px;
        background-color: rgb(38, 49, 54); 
}

.main-container:hover {
        opacity: 0.5;
}

.chat-container {
        width: calc(100% - 20px);
        margin-left: 10px;
        height: 100%;
}