/* Headers */
.header-container {
        display: flex;
        width: 100%;
        height: 30px;
        border-radius: 5px;
        /* background-color: #cbdadb; */
        background-color: rgb(32, 32, 32);
}

.header-icon-container {
        order: 1;
        height: 100%;
        width: 40px;
} 

.header-text-container {
        order: 0;
        height: 100%;
        width: calc(100% - 55px);
        display: flex;
        align-items: center;
}

.header-text {
        text-align: center;
        font-size: 17px;
        font-weight: bold;
        width: 100%;
}

.subscribers-header-text {
        color: white;
}

/* -------------------------------------------------------- */

/* Subscribers display */
.subscribers-view-container {
        width: 100%;
        height: calc(100% - 30px);
        background-color: rgb(50, 64, 71);
}

.subscriber-container {
        width: 100%;
        display: flex;
        height: 50px;
        /* margin-bottom: 5px; */
        background-color: rgb(38, 49, 54);
}

.subscriber-icon-container {
        order: 0;
        height: 100%;
        width: 50px;
}

.subscriber-username-container {
        order: 1;
        width: calc(100% - 50px);
        height: 50px;
        display: flex;
        align-items: center;
}
.subscriber-username {
        text-align: center;
        width: 100%;
        font-size: 19px;
        /* color: hotpink; */
        color: #84c1ff;
}
/* -------------------------------------------------------- */