<!-- <div class="header-container">
        <div class="header-icon-container">
                <app-user-icon [showStatus]="false"></app-user-icon>
        </div>
        <div class="header-text-container">
                <div class="header-text subscribers-header-text">
                        Subscribers
                </div>
        </div>
</div> -->
<app-header 
        [headerText]="'Admin'" 
        [imageUrl]="'../../../assets/images/Admin.png'"
></app-header>
<app-subscriber 
        *ngIf="this.chat !== undefined && this.chat !== null"
        [username]="this.getUserSub(this.chat.admin._id).username" 
        [image]="this.getUserSub(this.chat.admin._id).image" 
        [online]="this.getUserSub(this.chat.admin._id).online" 
        [subId]="'------'"
></app-subscriber>

<app-header 
        [headerText]="'Subscribers'" 
        *ngIf="this.chat !== undefined && this.chat !== null && this.chat.subs.length > 0" 
        [imageUrl]="'../../../assets/images/SubTwo.jpg'"
></app-header>
<div *ngIf="this.chat" class="subscribers-view-container">
        <app-subscriber 
                *ngFor="let sub of this.chat.subs" 
                [adminId]="this.chat.admin._id" 
                [username]="this.getUserSub(sub._id).username" 
                [image]="this.getUserSub(sub._id).image" 
                [online]="this.getUserSub(sub._id).online" 
                [subId]="sub._id"
        ></app-subscriber>
</div>