<div class="header-container">
        <div class="header-icon-container">
                <app-user-icon [showStatus]="false"></app-user-icon>
        </div>
        <div class="header-text-container">
                <div class="header-text subscribers-header-text">
                        Subscribers
                </div>
        </div>
</div>

<div *ngIf="this.chat" class="subscribers-view-container">
        <app-subscriber *ngFor="let sub of this.chat.subs" [username]="this.getUserSub(sub._id).username" [image]="this.getUserSub(sub._id).image" [online]="this.getUserSub(sub._id).online"></app-subscriber>
</div>