<div class="header-container">
        <div class="header-icon-container">
                <app-user-icon></app-user-icon>
        </div>
        <div class="header-text-container">
                <div class="header-text subscribers-header-text">
                        Subscribers
                </div>
        </div>
</div>

<div *ngIf="this.chat != undefined && this.chat != null" class="subscribers-view-container">
        <div class="subscriber-container" *ngFor="let sub of this.chat.subs">
                <div class="subscriber-icon-container">
                        <app-image-fab *ngIf="this.sub.image != '$$$Default$$$'" [imageUrl]="this.sub.image"></app-image-fab>
                        <app-user-icon *ngIf="this.sub.image === '$$$Default$$$'"></app-user-icon>
                </div>
                <div class="subscriber-username-container">
                        <div class="subscriber-username">
                                {{sub.username}}
                        </div>
                </div>
        </div>
</div>