<div class="container">
        <div class="header-container">
                <app-header 
                        [headerText]="'Subscriptions'" 
                        [imageUrl]="'../../../assets/images/SubsTwo.png'"
                ></app-header>     
        </div>
        <div class="chats-container">
                <app-chat-selection 
                        [chatIds]="this.getChatIds()"
                        [color]="'rgb(173, 243, 250)'"
                >
                </app-chat-selection>
        </div>
</div>