.container {
        width: 100%;
        height: 100%;
        background-color: rgb(50, 64, 71);
        display: flex;
        flex-direction: column;
}
/* -------------------------------------------------------- */

.header-container {
        height: 35px;
        width: 100%;
}
/* Chats List */
.chats-container {
        width: 100%;
        height: calc(100% - 85px);
        overflow-y: scroll;
}

.chat-create-container {
        height: 65px;
        width: 100%;
}