.left {
        position: fixed;
        top: 80px;
        left: 0%;
        height: calc(100% - 80px);
        /* background-color: red; */
        background-color: rgb(38, 49, 54);
        width: 20%;
}

.middle {
        position: fixed;
        top: 80px;
        height: calc(100% - 80px);
        left: 21%;
        width: 20%;
}

.right {
        position: fixed;
        top: 80px;
        height: calc(100% - 80px);
        right: 0%;
        /* background-color: blue; */
        background-color: rgb(50, 64, 71);
        width: 58%;
}
