.left {
        width: 25%;
        height: 100%;
        float: left;
}

.middle {
        width: 25%;
        height: 100%;
        margin-left: 10px;
        float: left;
}

.right {
        background-color: rgb(50, 64, 71);
        margin-left: 10px;
        width: calc(50% - 20px);
        height: 100%;
        float: left;
}
