<app-navbar>
        <div class="left">
                <h1>Chats</h1>
                <h1>Create new global chat</h1>
                <div class="subscriptions-view">
                        <span *ngFor="let sub of this.user.chatSubs">
                                {{sub.title}}
                        </span>
                </div>
        </div>
        <div class="middle">
               <app-user-friends-view></app-user-friends-view>
        </div>

        <div class="right">
                <h1>User</h1>
        </div>
       
</app-navbar>