.message {
  margin-bottom: 10px;
  font-size: 15px;
  background-color: #67b8f7f3;
  color: black;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 10px;
  font-family: Arial, sans-serif;
  margin-left: 20px;
}

hr {
  visibility: hidden;
}
