<div class="container">
  <div class="user-icon-container">
    <div class="user-icon">
      <app-image-fab *ngIf="this.senderImage != '$$$Default$$$'" [imageUrl]="this.senderImage"></app-image-fab>
      <app-user-icon *ngIf="this.senderImage === '$$$Default$$$'" [showStatus]="false"></app-user-icon>
    </div>
  </div>
  <div class="message-container">
    <div class="message-header-container">
      <div class="username">{{this.senderUsername}}</div>
      <!-- Timestamp -->
      <div class="timestamp">{{this.getTime(this.timestamp)}}</div>
    </div>
    <!-- Text -->
    <div class="message-body-container">
        <span class="message-text"><ng-content></ng-content></span>
    </div>
  </div>
</div>
