.container {
  display: flex;
  /* background-color: #616161; */
  /* background-color: #536878; */
  /* background-color: #37474F; */
  background-color: rgb(50, 64, 71);
  width: 100%;
}
.message-container {
  margin-top: 5px;
  order: 1;
  width: calc(100% - 75px);
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.message-header-container {
  order: 0;
  /* display: flex; */
  margin-left: 5px;
}

.message-body-container {
  order: 1;
  margin-top: 5px;
  margin-left: 5px;
}

.user-icon-container {
  order: 0;
  min-width: 65px;
  max-width: 65px;
  padding-top: 5px;
  background-color: rgb(38, 49, 54); 
}

.user-icon {
  width: 55px;
  height: 55px;
  margin: auto;
}

.username {
  /* order: 0; */
  float: left;
  font-family: Arial, sans-serif;
  font-weight: 400;
  color: hotpink;
  font-size: 18px;
}


.message-text {
  white-space: pre-line;
  overflow-wrap: break-word;
  font-size: 15px;
  color: white;
  font-family: Arial, sans-serif;
}

.timestamp {
  float: right;
  color: rgb(163, 163, 163);
  font-size: 12px;
}





