<div #messages *ngIf="this.chat != undefined && this.chat != null" class="messages">
        <div class="chat-title-spacer"></div>
        <div *ngFor="let message of chat.messages">
                <app-message-received *ngIf="received(message);"[senderUsername]="message.senderUsername">
                        {{message.text}}
                </app-message-received>
                <app-message-sent *ngIf="sent(message);" [senderUsername]="message.senderUsername">
                        {{message.text}}
                </app-message-sent>  
                <hr>
        </div>
        <!-- Need to add bottom spacer for when user visiting chat is not logged in -->
        <div *ngIf="this.user == undefined || this.user == null" class="chat-title-spacer"></div>
        <div *ngIf="this.user != undefined && this.user != null" class="chat-message-create-spacer"></div>
</div>