.messages {
        width: 95%;
        margin: auto;
        overflow: scroll;
        height: 100%;
        background-color: olivedrab;
}

.chat-message-create-spacer {
        width: 100%;
        height: 200px;
        background-color: red;
}

.chat-title-spacer {
        width: 100%;
        height: 45px;
}

hr {
        background: none;
        border: 0;
        clear: both;
        display: block;
        float: none;
        font-size: 0;
        padding-top: 10px;
        overflow: hidden;
        visibility: hidden;
}