.messages {
        width: 100%;
        overflow: scroll;
        height: calc(100% - 173px);
        max-height: calc(100% - 173px);
        background: linear-gradient(to right, rgb(38, 49, 54) 0px, rgb(38, 49, 54) 65px, rgb(50, 64, 71) 65px, rgb(50, 64, 71) 100%);
}

hr {
        height: 1px;
        font-size: 0px;
        overflow: hidden;
}
.spacer {
        height: 1px;
        width: 100%;
}
.invisible {
        background-color: rgb(38, 49, 54);
        /* border-left: 65px solid rgb(50, 64, 71); */
}