<!-- Placeholder text -->
<div [@expansionBox]="expanded ? 'open' : 'closed'" (click)="this.toggle()" class="container transform-background-color">
        <div class="top-container">
                <div class="icon-container">
                        <app-image-fab 
                                *ngIf="this.getChatSub().image != '$$$Default$$$'" 
                                [imageUrl]="this.getChatSub().image" 
                                [showStatus]="false"
                        ></app-image-fab>
                        <app-user-icon 
                                *ngIf="this.getChatSub().image === '$$$Default$$$'" 
                                [showStatus]="false"
                        ></app-user-icon>
                </div>
                <div class="title-container">
                        <div class="title no-select transform-font-size transform-color" *ngIf="!this.expanded" #chatTitle>
                                {{this.getChatSub().title}}
                        </div>
                        <div class="title-expanded no-select" *ngIf="this.expanded">
                                {{this.getChatSub().title}}
                        </div>
                </div>
        </div>
        <div class="bottom-container" *ngIf="this.expanded">
                <div class="bottom-bottom-container">
                        <div class="sub-count-container no-select">
                                {{'Sub Count: ' + this.getChatSub().subCount}}
                        </div>
                        <span class="flex-expand"></span>
                        <div class="go-button transform-border no-select" [routerLink]="['/api/chat/view', this.chatId]">
                                Chat
                        </div>
                </div>
                <div class="tags-container">
                        <div class="tag-container no-select transform-color" *ngFor="let tag of this.getChatSub().tags">
                                {{tag}}
                        </div>
                </div>
                
        </div>

</div>