.icon-image {
        background-image: url("../../../assets/images/DefaultIconImage.png");
        background-size:     contain;                   
        background-repeat:   no-repeat;
        background-position: center center; 
        width: 60px;
        height: 60px;
        border-radius: 50%;
        padding-top: 10px;
        padding-bottom: 10px;
}       

.icon-button {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        opacity: 0;
}