.register-background {
  height: 100%;
  width: 100%;
  background-color: #203a50;
  display: flex;
  align-content: center;
}

.register-form-card {
  height: 100%;
  width: calc(100% - 30px);
  max-height: 550px;
  max-width: 350px;
  margin: auto;
  background-color: rgb(32, 32, 32);
}

.register-form-container {
  width: 200px;
  height: 500px;
  margin: auto;
}

.form-input-container {
  width: 100%;
  margin-top: 20px;
}

.input-field { color: white; }

.form-button-container {
  display: flex;
  justify-content: center;
}

.form-submit-button {
  width: 100%;
  margin-top: 30px;
  background-color: white;
  color: rgb(32, 32, 32);
  font-size: 18px;
  font-family: 'poppins-semibold';
}

.error-message {
  margin-top: 10px;
  color: rgb(255, 105, 105);
  width: 100%;
}

.message-container {
  width: 200px;
}
.placeholder-text { color: rgb(180, 180, 180); }

.login-button {
  font-size: 17px;
  width: 100%;
  color: white;
  font-family: 'poppins-semibold';
  text-align: center;
}

.login-button:hover { color: rgb(121, 212, 248); }

