.register-background {
  height: 100%;
  width: 100%;
  background-image: url("../../../assets/images/login8.png");
  background-size: contain;
  background-color: black;
  opacity: 0.8;
  display: flex;
  align-content: center;
}

.register-form-card {
  height: 550px;
  width: 350px;
  margin: auto;
  background-color: rgb(32, 32, 32);
}

.register-form-container {
  width: 200px;
  height: 500px;
  margin: auto;
}

.form-input-container {
  width: 100%;
  margin-top: 20px;
}

.input-field {
  color: white;
}

.form-button-container {
  display: flex;
  justify-content: center;
}

.form-submit-button {
  width: 200px;
  margin-top: 25px;
  background-color: white;
  color: black;
  font-size: 17px;
}

.error-message {
  margin-top: 10px;
  color: rgb(255, 105, 105);
  width: 100%;
}

.message-container {
  width: 200px;
}
.placeholder-text {
  color: rgb(180, 180, 180);
}

.login-button {
  color: white;
  -webkit-transition: font-size 0.2s;
  -moz-transition: font-size 0.2s;
  -o-transition: font-size 0.2s;
  transition: font-size 0.2s;
}

.login-button:hover {
  color: rgb(121, 212, 248);
  font-size: 17px;
}

