<div class="container transform-height" *ngIf="this.isAuthenticated()">
        <div class="admin-container transform-background-color" *ngIf="this.isAdmin()">
                <div class="admin-text transform-color">
                        Admin
                </div>
        </div>
        <div class="subscribe-button-container transform-background-color" *ngIf="!this.isSubscribed()" (click)="this.subscribe()">
                <div class="subscribe-button transform-color">
                        Join
                </div>
        </div>
        <div class="subscribed-button-container transform-background-color" *ngIf="this.isSubscribed() && !this.isAdmin()" (click)="this.unsubscribe()">
                <div class="subscribed-button transform-color">
                        Joined
                </div>
        </div>
</div>